@import './variables.scss';

@mixin menu{
  position: relative;
 }

 @mixin wrap{
   position: absolute;
   top: 0;left: 0;
   color: white;
   background-color: rgb(65, 88, 208);
   font-size: 1rem;
   width: 250px;
   padding: 1rem;
  }
 
  @mixin btn{
    width: 150px;
    text-decoration: none;
    background-color: $hoverColor;
    border-color: $hoverColor;
    color: white;
    text-transform: uppercase;
    padding: 1rem 1.3rem;
    font-size: .6rem;
    font-weight: 700;

    &:hover{
      background-color: $black;
    }
  }

  @mixin h2{
    text-align: center;
    margin: 3rem 0;
    color: $black;
    font-size: 1.7rem;
  }

  @mixin p{
    text-align: center;
    line-height: 1.7rem;
    font-size: 1rem;
    color: $grey;
    font-weight: 300;
    padding: 0 2rem;
    opacity: .8;
  }

  @mixin wrapper{
    margin: 0 auto;
    width: 85vw;
  }


  // ----------------------media

  @media(max-width: 1285px){
    @mixin p{
      line-height: 1rem;
    }
  }

  @media(max-width: 1100px){
    @mixin h2{
      margin: 2rem 0; 
      font-size: 1.2rem;
    }
  
    @mixin p{ 
      line-height: 1rem;
      font-size: .9rem;
    }
  }

  @media(max-width: 1000px){
    @mixin h2{
      font-size: 1.5rem;
      margin-top: 0;
    }
  }